<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteAtt</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>18/09/22 09:58:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CLead()[pri:0, instance:testcases.TC002_CreateLead@32be31]">CLead</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/22 09:58:58</td>   <td>58195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CLead()[pri:0, instance:testcases.TC002_CreateLead@32be31]">CLead</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/22 10:00:50</td>   <td>170264</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC004_EditLead@235b8e]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/22 09:57:23</td>   <td>-36842</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC002_CreateLead@32be31]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/22 09:59:16</td>   <td>76567</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC004_EditLead@235b8e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/22 09:57:23</td>   <td>-37078</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC004_EditLead@235b8e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/22 09:58:24</td>   <td>24540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.TC002_CreateLead@32be31]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/22 09:59:14</td>   <td>74192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.TC002_CreateLead@32be31]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/22 10:00:48</td>   <td>168090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.TC004_EditLead@235b8e]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/22 10:00:31</td>   <td>150641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_EditLead.editLead()[pri:0, instance:testcases.TC004_EditLead@235b8e]">editLead</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/22 09:57:23</td>   <td>-36797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC002_CreateLead@32be31]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/22 09:58:27</td>   <td>26654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC002_CreateLead@32be31]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/22 09:59:16</td>   <td>76567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC004_EditLead@235b8e]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/22 09:57:23</td>   <td>-36869</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testcases.TC002_CreateLead@32be31]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/22 09:57:23</td>   <td>-36869</td> <td>&nbsp;</td><td title="&gt;&gt;TC004_EditLead.setData1()[pri:0, instance:testcases.TC004_EditLead@235b8e]">&gt;&gt;setData1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/22 09:57:23</td>   <td>-36869</td> <td>&nbsp;</td><td title="&gt;&gt;TC005_DeleteLead.setData1()[pri:0, instance:testcases.TC005_DeleteLead@bca1e0]">&gt;&gt;setData1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
</table>
