<h2>Methods that were not run</h2><table>
<tr><td>wdmethods.ProjectMethods.afterSuite</td></tr>
<tr><td>wdmethods.ProjectMethods.afterSuite</td></tr>
<tr><td>wdmethods.ProjectMethods.beforeSuite</td></tr>
<tr><td>wdmethods.ProjectMethods.beforeSuite</td></tr>
<tr><td>testcases.TC005_DeleteLead.deleteLead</td></tr>
</table>