<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fa38a">  <td>18/10/29 08:49:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:pomTestCases.TC001_LoginAndLogOut@38ae61]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32478861</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>18/10/29 08:49:52</td>   <td>-742</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:pomTestCases.TC001_LoginAndLogOut@38ae61]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32478861</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/10/29 08:49:55</td>   <td>2385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogOut.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pomTestCases.TC001_LoginAndLogOut@38ae61]">login</td> 
  <td>main@32478861</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/10/29 08:49:55</td>   <td>2401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogOut.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pomTestCases.TC001_LoginAndLogOut@38ae61]">login</td> 
  <td>main@32478861</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/10/29 08:49:53</td>   <td>-100</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogOut.setData()[pri:0, instance:pomTestCases.TC001_LoginAndLogOut@38ae61]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32478861</td>   <td></td> </tr>
</table>
