<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b467">  <td>18/10/02 13:48:11</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:pomTestCases.TC003_MergeLeads@1423665]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11834534</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/02 13:47:49</td>   <td>-22634</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:pomTestCases.TC003_MergeLeads@1423665]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11834534</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/02 13:47:49</td>   <td>-22838</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:pomTestCases.TC003_MergeLeads@1423665]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11834534</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/02 13:48:11</td>   <td>-114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:pomTestCases.TC003_MergeLeads@1423665]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11834534</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/02 13:47:49</td>   <td>-21951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String)[pri:0, instance:pomTestCases.TC003_MergeLeads@1423665]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11834534</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/02 13:47:58</td>   <td>-13870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_MergeLeads.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pomTestCases.TC003_MergeLeads@1423665]">login</td> 
  <td>main@11834534</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/02 13:47:49</td>   <td>-22641</td> <td>&nbsp;</td><td title="&gt;&gt;TC003_MergeLeads.setData()[pri:0, instance:pomTestCases.TC003_MergeLeads@1423665]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11834534</td>   <td></td> </tr>
</table>
