<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>sanity</td><td>TC004_EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:testNG.TC004_EditLead@9ba398]<br/></td></tr>
</table>
