<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteGroups</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b92d7">  <td>18/09/23 10:57:38</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testNG.TC004_EditLead@9ba398]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/23 10:56:45</td>   <td>-52821</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testNG.TC004_EditLead@9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/23 10:56:45</td>   <td>-53110</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testNG.TC004_EditLead@9ba398]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/23 10:57:12</td>   <td>-25977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testNG.TC004_EditLead@9ba398]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/23 10:57:38</td>   <td>-68</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testNG.TC004_EditLead@9ba398]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/23 10:56:56</td>   <td>-41910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:testNG.TC004_EditLead@9ba398]">editLead</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/23 10:57:20</td>   <td>-17598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:testNG.TC004_EditLead@9ba398]">editLead</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/23 10:56:46</td>   <td>-52051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNG.TC004_EditLead@9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/23 10:57:12</td>   <td>-25843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNG.TC004_EditLead@9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/23 10:56:45</td>   <td>-52827</td> <td>&nbsp;</td><td title="&gt;&gt;TC004_EditLead.setData1()[pri:0, instance:testNG.TC004_EditLead@9ba398]">&gt;&gt;setData1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
</table>
